:root {
    --uncorked-scheme-1: #7f056e;
    --uncorked-scheme-2: #c09247;
    --uncorked-scheme-3: #cab387;
    --uncorked-scheme-4: #f2ebe0;
    --comment-color: #000;
}

body {
    padding: 0px;
}

section {
    min-height: 100px;
    margin: 0px;
    padding: 10px 30px 30px;
}

.category-1 {
    background-color: var(--uncorked-scheme-2);
    color: white;
}

.category-2 {
    background-color: var(--uncorked-scheme-3);
    color: white;
}

.category-3 {
    background-color: var(--uncorked-scheme-4);
    color: black;
}

.comment {
    font-style: italic;
    color: var(--comment-color);
}