:root {
    --marsala-scheme-1: #567572;
    --marsala-scheme-2: #964F4C;
    --marsala-scheme-3: #696667;
}

body {
    padding: 0px;
}

section {
    min-height: 100px;
    margin: 0px;
    padding: 10px 30px 30px;
}

.category-1 {
    background-color: var(--marsala-scheme-1);
    color: white;
}

.category-2 {
    background-color: var(--marsala-scheme-2);
    color: white;
}

.category-3 {
    background-color: var(--marsala-scheme-3);
    color: black;
}

.comment {
    font-style: italic;
}