:root{
--brisk-scheme-1: #4d4557;
--brisk-scheme-2: #872542;
--brisk-scheme-2-light: #a02c4f;/*#c83762;*/
--brisk-scheme-3: #f7c026;
--brisk-scheme-4: #a0d3f9;
--harbour-scheme-1: #344649;
--harbour-scheme-2: #6d7a8a;
--harbour-scheme-3: #a4c6c4;
--harbour-scheme-4: #e1e7e9; 
--compote-scheme-1: #93495e;
--compote-scheme-2: #59648e;
--compote-scheme-3: #c3b4d7;
--compote-scheme-4: #e5e5e5;
--pebble-scheme-1: #433f49;
--pebble-scheme-2:#91848f;
--pebble-scheme-3:#dcc2ad;
--pebble-scheme-4:#f3e7eb;
--scholar-scheme-1:#333e51;
--scholar-scheme-2:#d2ac2c;
--scholar-scheme-3:#cad0d7;
--scholar-scheme-4:#f4f3ea;
}
html
{
}
body
{
font-family: Roboto, sans-serif;
color: white;
background-color: var(--scholar-scheme-4);
font-size: 16px;
position: relative;
min-height: 100vh;
min-width:100%;
margin: 0;
padding: 0;
}
.container {
width: 100%;
max-width: 680px;
text-align: center;
margin: 0 auto;
}
#content >header{
height: 100px;
min-width:100%;
position:relative;
padding-left:10px;
width: 100%;
display: flex;
align-items: center;
background-color: var(--scholar-scheme-1);
}
header h1{
color:white;
}
.container footer
{
color: #92b0b3;
margin-top: 40px;
}
.container footer p + p
{
margin-top: 1em;
}
.container footer a:hover,
.container footer a:focus
{
color: #39bfd3;
}
.box
{
font-size: 1.25rem; /* 20 */
background-color: var(--scholar-scheme-3);
position: relative;
padding: 100px 20px;
margin-top:50px;
color:#0f3c4b;
}
h1{
color: var(--scholar-scheme-1);
margin-top:50px;
}
.box.has-advanced-upload
{
outline: 2px dashed #92b0b3;
outline-offset: -10px;
-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.is-dragover
{
outline-offset: -20px;
/*   outline-color: #c8dadf;*/
outline-color: var(--scholar-scheme-2);
background-color: #fff;
}
.box__dragndrop,
.box__icon
{
display: none;
}
.box.has-advanced-upload .box__dragndrop
{
display: inline;
}
.box.has-advanced-upload .box__icon
{
width: 100%;
height: 80px;
fill: var(--scholar-scheme-2);
display: block;
margin-bottom: 40px;
}
.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input
{
visibility: hidden;
}
.box__uploading,
.box__success,
.box__error
{
display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
display: block;
position: absolute;
top: 50%;
right: 0;
left: 0;
-webkit-transform: translateY( -50% );
transform: translateY( -50% );
}
.box__uploading
{
font-style: italic;
}
.box__success
{
-webkit-animation: appear-from-inside .25s ease-in-out;
animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside
{
from    { -webkit-transform: translateY( -50% ) scale( 0 ); }
75%     { -webkit-transform: translateY( -50% ) scale( 1.1 ); }
to      { -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
from    { transform: translateY( -50% ) scale( 0 ); }
75%     { transform: translateY( -50% ) scale( 1.1 ); }
to      { transform: translateY( -50% ) scale( 1 ); }
}
.box__restart
{
font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
color: #39bfd3;
}
.js .box__file
{
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.js .box__file + label
{
max-width: 80%;
text-overflow: ellipsis;
white-space: nowrap;
cursor: pointer;
display: inline-block;
overflow: hidden;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong
{
/*color: #39bfd3;*/
color: var(--scholar-scheme-2);
}
.js .box__file:focus + label,
.js .box__file.has-focus + label
{
outline: 1px dotted #000;
outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label *
{
/* pointer-events: none; */ /* in case of FastClick lib use */
}
.no-js .box__file + label
{
display: none;
}
.no-js .box__button
{
display: block;
}
.box__button
{
font-weight: 700;
color: #e5edf1;
/*background-color: #39bfd3;*/
background-color: var(--scholar-scheme-2);
display: none;
padding: 8px 16px;
margin: 40px auto 0;
}
.box__button:hover,
.box__button:focus
{
/*  background-color: #0f3c4b;*/
background-color: var(--scholar-scheme-2);
}
body > footer{
text-align: center;
background-color: var(--scholar-scheme-1);
color: #fff;
height:100px;
position: relative;
bottom: 0;
right: 0;
left: 0;  
width: 100%;
display: flex;
justify-content: center;
align-content: center;
}
.rectangle{
width:200px;
height:200px;
background-color: var(--brisk-scheme-3);
float:left;
margin:10px;
text-align: center;
vertical-align: middle;
line-height: 200px;       
cursor: pointer;
font-size: 1.25rem;
}
.rectangle:hover{
background-color: var(--scholar-scheme-2);
font-size:24px;
transition: all 0.3s ease-in-out 0.1s;
}
.btn{
border: none;
background-color: var(--brisk-scheme-2);
color:white;
padding: 12px 100px;
border-radius: 25px;
font-size: 24px;
margin:50px;
cursor: pointer;
}
.btn:hover{
background-color: var(--brisk-scheme-2-light);
box-shadow: 1px 1px 10px 5px  var(--brisk-scheme-2), -1px -1px 10px 5px var(--brisk-scheme-2);
transform: scale(1.1);
transition: all 0.3s ease-in-out 0.1s;
}
