:root {
    --orange-scheme-1: #FFA351;
    --orange-scheme-2: #FFBE7B;
    --orange-scheme-3: #EED971;
}

body {
    padding: 0px;
}

section {
    min-height: 100px;
    margin: 0px;
    padding: 10px 30px 30px;
}

.category-1 {
    background-color: var(--orange-scheme-1);
    color: white;
}

.category-2 {
    background-color: var(--orange-scheme-2);
    color: white;
}

.category-3 {
    background-color: var(--orange-scheme-3);
    color: white;
}

.comment {
    font-style: italic;
}