:root {
    --brisk-scheme-1: #4d4557;
    --brisk-scheme-2: #872542;
    --brisk-scheme-2-light: #a02c4f;
    --brisk-scheme-3: #f7c026;
    --brisk-scheme-4: #a0d3f9;
    --scholar-scheme-1: #333e51;
    --scholar-scheme-2: #d2ac2c;
    --scholar-scheme-3: #cad0d7;
    --scholar-scheme-4: #f4f3ea;
    --light-grey: #eceff1;
    --dark-grey: #607d8b;
    --red-light: #ffab91;
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    font-family: Roboto, sans-serif;
    color: #000;
    background-color: var(--scholar-scheme-4);
    font-size: 16px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#content>header {
    height: 150px;
    min-width: 100%;
    position: relative;
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
}

.container footer {
    color: #92b0b3;
    margin-top: 40px;
}

.container footer p+p {
    margin-top: 1em;
}

.container footer a:hover,
.container footer a:focus {
    color: #39bfd3;
}

.box {
    font-size: 1.25rem;
    /* 20 */
    background-color: var(--scholar-scheme-3);
    position: relative;
    padding: 100px 20px;
    margin-top: 50px;
    color: #0f3c4b;
}

h1 {
    color: var(--scholar-scheme-1);
    margin-top: 50px;
}

body>footer {
    text-align: center;
    background-color: var(--scholar-scheme-1);
    color: #fff;
    height: 130px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 130px;
}

.rectangle {
    width: 200px;
    height: 200px;
    background-color: var(--brisk-scheme-3);
    float: left;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    cursor: pointer;
    font-size: 1.25rem;
}

.rectangle:hover {
    background-color: var(--scholar-scheme-2);
    font-size: 24px;
    transition: all 0.3s ease-in-out 0.1s;
}

.btn {
    border: none;
    background-color: var(--brisk-scheme-2);
    color: white;
    width: 25rem;
    padding: 12px 100px;
    border-radius: 25px;
    font-size: 24px;
    margin: 50px;
    cursor: pointer;
}

.btn:hover:enabled {
    background-color: var(--brisk-scheme-2-light);
    transition: all 0.3s ease-in-out 0.1s;
}

.btn:disabled {
    border: none;
    background-color: var(--scholar-scheme-1);
    color: white;
    padding: 12px 100px;
    border-radius: 25px;
    font-size: 24px;
    margin: 50px;
    cursor: wait;
}

#logo {
    margin: 10px;
}

.custom-upload {
    border: 3px dashed #ccc;
    display: inline-block;
    padding: 12px 100px;
    cursor: pointer;
}

.custom-upload:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0.1s;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.theme-option img,
.selected-option img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 50%;
}

.theme-option {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    opacity: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px 0px 25px 0px;
}

.theme-option img:hover {
    box-shadow: 0 0 10px var(--dark-grey);
}

.theme-option p {
    font-size: 1.25rem;
}

#themes-container {
    display: inline-grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-column-gap: 20px;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    padding-bottom: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.selected-option {
    box-shadow: var(--brisk-scheme-1) 0 0 10px;
    transform: scale(1.01);
    transition: all 0.3s ease-in-out 0.1s;
}

p {
    text-align: center;
}

i {
    margin-right: 5px;
}

#languageSelect {
    width: 10rem;
    height: 2.5rem;
}

.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 400px;
    margin: 10px 0px;
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form-field::placeholder {
    color: transparent;
}

.form-field:placeholder-shown~.form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form-field:focus {
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 3px;
    /*   border-image: linear-gradient(to right, #0d47a1, #90caf9);*/
    border-image: linear-gradient(to right, var(--brisk-scheme-2), var(--brisk-scheme-3));
    border-image-slice: 1;
}

.form-field:focus~.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--dark-blue);
    font-weight: 700;
}


/* reset input */

.form-field:required,
.form-field:invalid {
    box-shadow: none;
}

.div-section {
    width: 50%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment {
    color: var( --brisk-scheme-1);
    font-style: italic;
}

footer span {
	opacity: 0;
	transition: all 1s ease;
	writing-mode: vertical-rl;
	text-orientation: upright;
	text-align: justify;
	height: min-content;
	font-size: 14.5px;
	margin: -1.1rem 7.5rem 0 0;
}

footer:hover span {
	opacity: 1;
}